<h1><%= @team.name%></h1>

<h2>Team Motto: <%= @team.motto%></h2>

<h2>Hero Name: <%= %></h2>
<h5>Hero Power: <%= %></h5>
<h5>Hero Biography: <%= %></h5>

<h2>Hero Name: <%= %></h2>
<h5>Hero Power: <%= %></h5>
<h5>Hero Biography: <%= %></h5>

<h2>Hero Name: <%= %></h2>
<h5>Hero Power: <%= %></h5>
<h5>Hero Biography: <%= %></h5>
