<h1>Team Name<%= %></h1>

<h2>Team Motto: <%= %></h2>

<h2>Hero Name: <%= %></h2>
<h4>Hero Power: <%= %>
Hero Biography: <%= %></h4>

<h2>Hero Name: <%= %></h2>
<h4>Hero Power: <%= %>
Hero Biography: <%= %></h4>

<h2>Hero Name: <%= %></h2>
<h4>Hero Power: <%= %></h4>
<h4>Hero Biography: <%= %></h4>
