<h1>Team Name<%= %></h1>

<h2>Team Motto: <%= %></h2>

<h2>Hero Name: <%= %></h2><br>
<h3>Hero Power: <%= %></h3><br>
<h3>Hero Biography: <%= %></h3><br>

<h2>Hero Name: <%= %></h2><br>
<h3>Hero Power: <%= %></h3><br>
<h3>Hero Biography: <%= %></h3><br>

<h2>Hero Name: <%= %></h2><br>
<h3>Hero Power: <%= %></h3><br>
<h3>Hero Biography: <%= %></h3><br>
